.icon {
    margin-left: auto; /* Pushes the icon to the right */
}
/* Inline CSS */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto; /* Changed from overflow: hidden; */
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    animation: gradientChange 10s ease-in-out infinite alternate;
}


.page_title {
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: pulse 2s infinite alternate;
    margin-top: 50px; /* Add more padding between the top of the screen and the title */
}

.list_container {
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 20px; /* Add margin to the left */
    margin-right: 20px; /* Add margin to the right */
}

/* Animations */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientChange {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
}

li:hover {
    transform: translateY(-5px);
}