{% extends "main.html" %}
{% block title %} Study Spaces {% endblock %}

{% block content %}
<form method="GET" action="{% url 'list_view' %}">
    <label><input type="checkbox" name="outlet_availability"> Outlet Availability</label>
    <label><input type="checkbox" name="tables_availability"> Tables Availability</label>
    <label><input type="checkbox" name="open_space_availability"> Open Space Availability</label>
    <label><input type="checkbox" name="white_board_availability"> White Board Availability</label>
    <button type="submit">Apply Filters</button>
</form>
    <ul>
        {% for room in room %}
            <li><a href="{% url 'room_details' room.id %}">{{ room.room_name }} </a>{% if room.outlet_availability %}<span class="icon"><i class="fas fa-plug"></i>
                {% else %}{% endif %}{% if room.white_board_availability %}<i class="fas fa-chalkboard"></i></span>{% else %}{% endif %}</li>
        {% endfor %}
    </ul>
{% endblock %}


