{% load static %}

<link rel="script" href="{% static "mysite/staticfiles/admin/css/blog.css" %}"> 
<script src="{% static "jquery.min.js" %}"></script>
{% comment %} <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script> {% endcomment %}
<link href="{% static "leaflet.css"%}" type="text/css" media="screen" rel="script" /> 
<link href="{% static "css/osm_field.css"%}" type="text/css" media="screen" rel="script" /> 
<script type="text/javascript" src="{% static "leaflet.js"%}"></script>
<script type="text/javascript" src="{% static "osm_field.js"%}"></script>
<script type="text/javascript" src="http://google.com/maps/api/js?sensor=false"></script>


{% load static %}
<!DOCTYPE HTML>
<html>
<head>
  <title>Urbana-Champaign & UIUC Campus Map</title>
  <!-- Include Leaflet CSS -->
  <link href="{% static "leaflet.css" %}" rel="stylesheet" />
  <!-- Include jQuery -->
  <script src="{% static "jquery.min.js" %}"></script>
  <!-- Include Leaflet JavaScript -->
  <script src="{% static "leaflet.js" %}"></script>
  <!-- Include Django-google-maps JavaScript -->
  {% load static %}
  <script src="{% static "google-maps-admin.js" %}"></script>
 {{ form.media}}
</head>
 {{form.as_p}}
{% comment %} <body>
  <!-- Render the map -->
  <div id="map_canvas" style="width: 100vw; height: 100vh;"></div>
 
  <!-- Use Django-google-maps to render the map -->

</body> {% endcomment %}
</html>
